<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Sound Localization" type="primary">
      <i class="nb-location"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Realtime Statistics" type="success">
      <i class="nb-bar-chart"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="SMS Notifications" type="info">
      <i class="nb-audio"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Push Notifications" type="warning">
      <i class="nb-notifications"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-weather></ngx-weather>
    <ngx-traffic></ngx-traffic>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <nb-card>
      <nb-card-header>Device Map</nb-card-header>
      <nb-card-body>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"
        [scrollwheel]="false">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-traffic></ngx-traffic>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-solar [chartValue]="72"></ngx-solar>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-solar [chartValue]="72"></ngx-solar>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-solar [chartValue]="72"></ngx-solar>
  </div>
</div>
